:root {
    --color-primary: #2E8B57;
    --color-secondary: #9E9E9E;
    --color-accent: #66C166;
    --color-white: #F5F5F5;
    --color-dark: #333;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo-container img {
    width: 150px;
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    color: var(--color-white);
    text-decoration: none;
    margin: 0 10px;
    padding: 10px 20px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: var(--color-accent);
}

nav .btn-primary {
    background-color: var(--color-secondary);
    color: var(--color-white);
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

nav .btn-primary:hover {
    background-color: var(--color-accent);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: var(--color-secondary);
    color: var(--color-white);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--color-white);
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 4px;
}

.dropdown-content a {
    color: var(--color-dark);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease;
}

.dropdown-content a:hover {
    background-color: var(--color-accent);
    color: var(--color-white);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: var(--color-accent);
}