{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'optica/css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Mitiz Vision - Venta de Armazones</title>
</head>
<body>
    <header>
        <div class="logo-container">
            <img src="{% static 'optica/images/Recurso39.png' %}" alt="Mitiz Vision Logo" class="logo">
        </div>
        <nav class="sidebar">
            <form class="search-bar">
                <input type="text" placeholder="Buscar productos..." aria-label="Buscar">
                <button type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </form>
            <ul>
                <li><a href="{% url 'home' %}"><i class="fas fa-home"></i> Inicio</a></li>
                <li><a href="{% url 'armazones' %}"><i class="fas fa-glasses"></i> Ventas de armazones</a></li>
                <li><a href=""><i class="fas fa-tools"></i> Reparaciones</a></li>
                <li><a href="#"><i class="far fa-calendar-alt"></i> Agendar Hora</a></li>
                <li><a href="#"><i class="fas fa-sign-in-alt"></i> Iniciar Sesión</a></li>
                <li><a href="#"><i class="fas fa-truck"></i> Seguir Pedido</a></li>
                <li><a href="#" id="carrito"><i class="fas fa-shopping-cart"></i> Carrito</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Venta de Armazones</h1>
        <div class="product-grid">
            {% for producto in productos %}
            <div class="product-card">
                <img src="{{ producto.imagen.url }}" alt="{{ producto.armazoncarac }}">
                <h3>{{ producto.armazoncarac }}</h3>
                <p>{{ producto.descripcion }}</p>
                <span class="price">${{ producto.precio }}</span>
                <button class="btn" data-product-id="{{ producto.id }}">Añadir al carrito</button>
            </div>
            {% endfor %}
        </div>
    </main>

    <footer>
        <p>&copy; 2024 Mitiz Vision. Todos los derechos reservados.</p>
    </footer>
</body>
</html>