{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/carrito.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Carrito de Compras - MatizVision</title>
</head>
<body>
    <header>
        <div class="logo-container">
            <img src="{% static 'images/Recurso39.png' %}" alt="Mitiz Vision Logo" class="logo">
        </div>
        <nav class="sidebar">
            <form class="search-bar">
                <input type="text" placeholder="Buscar productos..." aria-label="Buscar">
                <button type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </form>
            <ul>
                <li><a href="{% url 'home' %}"><i class="fas fa-home"></i> Inicio</a></li>
                <li><a href="{% url 'productos' %}"><i class="fas fa-glasses"></i> Ventas de armazones</a></li>
                <li><a href=""><i class="fas fa-tools"></i> Reparaciones</a></li>
                <li><a href="{% url 'cita' %}"><i class="far fa-calendar-alt"></i> Agendar Hora</a></li>
                {% if user.is_authenticated %}
                <li class="dropdown">
                    <a href="#" class="dropbtn"><i class="fas fa-user"></i> Mi Cuenta</a>
                    <div class="dropdown-content">
                        <a href="{% url 'perfil' %}">Mi Perfil</a>
                        <a href="{% url 'mis_citas' %}">Mis Citas</a>
                        <a href="#">Seguir Pedido</a>
                        <a href="#">Mis Compras</a>
                        <a href="{% url 'logout' %}">Cerrar Sesión</a>
                    </div>
                </li>
                {% else %}
                <li><a href="{% url 'login' %}"><i class="fas fa-sign-in-alt"></i> Iniciar Sesión</a></li>
                {% endif %}
                <li><a href="{% url 'carrito' %}" id="carrito"><i class="fas fa-shopping-cart"></i> Carrito <span id="contador-carrito">({{ productos|length }})</span></a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Carrito de Compras</h1>
        <div class="cart-details">
            {% if productos %}
            <ul>
                {% for producto in productos %}
                <li>
                    <img src="{{ producto.imagen.url }}" alt="{{ producto.armazon }}">
                    <span>{{ producto.armazon }}</span>
                    <span>${{ producto.precio }}</span>
                    <span>Cantidad: {{ request.session.carrito|get_item:producto.codigo }}</span>
                    <button class="btn remove-from-cart" data-product-id="{{ producto.codigo }}">Eliminar</button>
                </li>
                {% endfor %}
            </ul>
            <h2>Total: ${{ total }}</h2>
            <a href="{% url 'checkout' %}" class="btn">Proceder al Pago</a>
            {% else %}
            <p>Tu carrito está vacío.</p>
            {% endif %}
        </div>
    </main>
    <script src="{% static 'js/carrito.js' %}"></script>
    <footer>
        <p>&copy; 2024 Mitiz Vision. Todos los derechos reservados.</p>
    </footer>
</body>
</html>