{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Iniciar Sesión - MatizVision</title>
</head>
<body>
    <div class="form-container">
        <div class="form-header">
            <img src="{% static '/images/Recurso39.png' %}" alt="Mitiz Vision Logo" class="logo">
            <h2>Iniciar Sesión</h2>
        </div>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn-submit">Iniciar Sesión</button>
        </form>
        <p>¿No tienes una cuenta? <a href="{% url 'registro_cliente' %}">Regístrate aquí</a></p>
        <p><a href="{% url 'password_reset' %}">He olvidado mi contraseña</a></p>
    </div>
</body>
</html>