{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'optica/css/styles.css' %}">
    <title>Restablecer Contraseña</title>
</head>
<body>
    <header>
        <div class="logo-container">
            <img src="{% static 'optica/images/Recurso39.png' %}" alt="Mitiz Vision Logo" class="logo">
        </div>
    </header>
    <main>
        <h1>Restablecer Contraseña</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn">Enviar</button>
        </form>
    </main>
    <footer>
        <p>&copy; 2024 Mitiz Vision. Todos los derechos reservados.</p>
    </footer>
</body>
</html>