{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/perfil.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <title>Perfil - MatizVision</title>
</head>
<body>
    <div class="profile-container">
        <h1>Perfil de {{ user.get_full_name }}</h1>
        
        <div class="profile-sections">
            <section class="personal-info">
                <h2>Información Personal</h2>
                <p><strong>Nombre:</strong> {{ user.cliente.nombre }}</p>
                <p><strong>Apellido:</strong> {{ user.cliente.apellido }}</p>
                <p><strong>Email:</strong> {{ user.email }}</p>
                <p><strong>RUT:</strong> {{ user.cliente.rut }} - {{ user.cliente.dv }}</p>
                <p><strong>Teléfono:</strong> {{ user.cliente.telefono }}</p>
            </section>

            <button id="toggleUpdateProfileForm" class="btn btn-primary">Actualizar Información</button>

            <div id="updateFormSection" class="update-form-section" style="display: none;">
                <section class="update-profile">
                    <h2>Actualizar Información</h2>
                    <form method="post" action="{% url 'actualizar_perfil' %}" class="update-form">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="email">Correo electrónico:</label>
                            <input type="email" id="email" name="email" value="{{ user.email }}" required>
                        </div>
                        <div class="form-group">
                            <label for="rut">RUT:</label>
                            <input type="text" id="rut" name="rut" value="{{ user.cliente.rut }}" required>
                        </div>
                        <div class="form-group">
                            <label for="dv">Dígito Verificador:</label>
                            <input type="text" id="dv" name="dv" value="{{ user.cliente.dv }}" required>
                        </div>
                        <div class="form-group">
                            <label for="nombre">Nombre:</label>
                            <input type="text" id="nombre" name="nombre" value="{{ user.cliente.nombre }}" required>
                        </div>
                        <div class="form-group">
                            <label for="apellido">Apellido:</label>
                            <input type="text" id="apellido" name="apellido" value="{{ user.cliente.apellido }}" required>
                        </div>
                        <div class="form-group">
                            <label for="telefono">Teléfono:</label>
                            <input type="text" id="telefono" name="telefono" value="{{ user.cliente.telefono }}" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Actualizar Perfil</button>
                    </form>
                </section>
            </div> 
        </div>

        <div class="logout-button">
            <a href="{% url 'logout' %}" class="btn btn-danger">Cerrar Sesión</a>
        </div>
    </div>
    <script src="{% static 'js/perfil.js' %}"></script>
</body>
</html>