{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Registro - MatizVision</title>
</head>
<body>
    <div class="form-container">
        <div class="form-header">
            <img src="{% static 'images/Recurso39.png' %}" alt="Mitiz Vision Logo" class="logo">
            <h2>Registro</h2>
        </div>
        <form method="post">
            {% csrf_token %}
            {{ user_form.as_p }}
            {{ cliente_form.as_p }}
            <button type="submit" class="btn-submit">Registrarse</button>
        </form>
        <p>¿Ya tienes una cuenta? <a href="{% url 'login' %}">Inicia sesión aquí</a></p>
    </div>
</body>
</html>